root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 2

[{*.ats,*.cts,*.mts,*.ts}]
indent_size = 2
tab_width = 2

[{*.cjs,*.es6,*.js,*.mjs}]
indent_size = 2
tab_width = 2

[{*.go,*.go2}]
indent_size = 2
indent_style = space
tab_width = 2

[{*.mk,GNUmakefile,GNUmakefile.inc,makefile,makefile.inc}]
tab_width = 4
